/* CSS Tools: Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------Our CSS style-----------*/

body {
    background-color: hsl(218, 28%, 13%);
    color: white;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 0px;
    background-color: hsl(230, 28%, 13%);
}

nav p {
    margin-bottom: 20px;
}

nav p:hover {
    color: rgb(178, 220, 255);
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    width: 96px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-weight: 400;
}


.your_appointments {
    background-color: hsl(219, 30%, 18%);
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.upcoming_appointments {
    margin-top: 20px;
    margin-bottom: 20px;
}

.single_upcoming_appointments p {
    margin-bottom: 10px;
}

.single_upcoming_appointments button {
    margin-bottom: 10px;
}

.single_past_appointments p {
    margin-bottom: 10px;
}


.header_appointment {
    margin-bottom: 30px;
    font-size: 16PX;
}

h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.single_upcoming_appointments {
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

.single_past_appointments {
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

.cancel_button {
    background-color: red;
    color: white;
    border: none;
    padding: 3.5px;
    border-radius: 3px;
}


@media (min-width: 850px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 0px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        color: white;
        font-weight: 400;
    }

    form {
        padding-left: 0px;
    }


    .your_schedule {
        background-color: hsl(219, 30%, 18%);
        width: 80%;
        max-width: 1000px;
        border-radius: 15px;
        padding: 25px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .upcoming_appointments {
        width: 90%;
    }

    input {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .mark_time_as_unavailables_section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }

    .mark_time_as_unavailables {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .unavailable_slots {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 80%;
    }
}

@media (max-width: 850px) and (min-width: 576px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 0px;
    }

    nav p {
        width: 16.66%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        color: white;
        font-weight: 400;
    }

    form {
        padding-left: 0px;
    }

    .your_schedule {
        background-color: hsl(219, 30%, 18%);
        width: 80%;
        max-width: 600px;
        border-radius: 15px;
        padding: 25px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    input {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

}